// .box{
//     transition-property: position;
//     transition-duration: 1s;
// }

#cursor {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: red;
    position: absolute;
    transform: translate(-50%, -50%);
    
    

   
    
    
    
}

#cursor::after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 100%;
    animation-duration: 1s;
    animation-name: anim;
    animation-iteration-count: infinite;
    // opacity: 90%;
    pointer-events: none;
    
}

@keyframes anim {
    from{
        transform: scale(0);
        opacity: 90%;
    }

    to{
        transform: scale(2.3);
        opacity: 0%;
    }
}

body {
    overflow-x: hidden;
}


