*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#box {
    width: 80px;
    height: 80px;
    background-color: red;
    position: absolute;
}


@keyframes anim {
    from {
        
    }
}